@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing:border-box;
    margin:0;
    padding:0;
    border:0;
    overflow-x:hidden;
}

body{
  font-family: roboto;
}

/*header*/
header{
    position:fixed;
    padding:0 5em;
    height: 100px;
    width:100%;
    background:linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    z-index:1000;
    color:white;

    display:flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
  font-size:3em;
}

header ul{
  display: flex;
  font-size: 1.25em;
}

header ul li{
  margin-left:3em;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: 0;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Section 2*/

.section2 {
  width:80%;
  margin:2em;
  height:400px;
}

.section2 div{
  width: 30%;
  height:60vh;
  background:black;
}

.section2 #div1{
  background:url("https://i.picsum.photos/id/1052/300/300.jpg?hmac=d9kKT99eDkRzXWZj9UrcQ8BDEI9dH-Qf3biF8kAR3wg");
  background-size:cover;
  position:absolute;

  transition:1s ease;
}

.section2 #div2{
  background:url("https://i.picsum.photos/id/547/300/300.jpg?hmac=4ExjN2OrcUeWMGKTCcYy0Rsb_Ar9yXf0REJ0vEZCb9I");
  background-size:cover;
  position:absolute;

  transition:1s ease;
  
}

.section2 #div3{
  background:url("https://i.picsum.photos/id/100/300/300.jpg?hmac=rRJwCdAq0dwpM7tpG0mEUD9l4HJLw_ZX0pbnCw5xn_U");
  background-size:cover;
  position:absolute;

  transition:1s ease;
}

.mountain, .lake, .beach{
  display:none;
}

 /*HOVER*/
.section2 #div1:hover{
  background:black;
}

.section2 #div2:hover{
  background:black
  
}

.section2 #div3:hover{
  background:black;
}

.mountainHover, .lakeHover, .beachHover{
  display:flex;
  color:white;
  justify-content: center;
  margin-top:25vh;
}


.position1{
  right: 3%;

  transition:0.4s ease;
}

.position2{
  right:35%;

  transition:0.4s ease;
}

.position3{
  right:67%;
  z-index:100;

  transition:0.4s ease;
}


.prev2, .next2{
  color:black;
  margin-top: 30vh;
  font-size:1.5em;
  position: absolute;
  transition:0.4s ease;
}

.prev2:hover, .next2:hover{
  cursor:pointer;
  font-size: 2em;
}

.prev2{
  left: 15px;
}

.next2{
  right:15px;
}

/*SECTION 3*/

.section3{
  margin:5em 0;
  display:flex;
  justify-content: space-around;
  align-items: center;
}

.section3 div{
  text-align: center;
  width:50%;
}

/* FOOTER*/ 

footer{
  border-top:9px solid lightgrey;
  background: black;
  color:white;
  padding:3em 0;
}

footer #foosection1{
  display: flex;
  justify-content: space-around;
  margin:2em 0;
}

footer #foosection2{
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top:1em;
  margin: 0 2em;
  border-top: 2px solid rgba(255,255,255,0.7);
}

footer div{
  width:20%;
  padding:20px;
  text-align:center;
  /* border-left:2px solid rgba(255,255,255,0.7);
  border-right: 2px solid rgba(255,255,255,0.7); */
}

/*ABOUT  US PAGE*/

.sectionAbout{
  height:50vh;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("https://i.picsum.photos/id/560/700/300.jpg?hmac=i04B_l6XI9xPCY7AXHU-P9sT-XAvaejv92iClN-ryJY");
  background-repeat: no-repeat;
  background-size: cover;
  color:white;
  font-size:2.5em;
  text-shadow: black -4px -4px 5px;
}
 .sectionAbout h2{
  padding:2em;
 }

 .section2About{
   margin:2em;
   display:flex;
   justify-content: space-around;
 }

 .section2About div{
  margin:2em;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.section2About div{
  margin:2em;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.section2About div img{
  border-radius: 50%;
  margin-bottom: 1.5em;
}

.section2About div h3{
  margin-bottom: 1.5em;
}

